---
import Atraccion from "../components/Atraccion.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";

const Aztecas = [
  {
    Nombre: "Mictlantecuhtli",
    Descripcion: "Recorrido por el infierno",
    imagen: "/Atracciones/Mictlantecuhtli.jpg",
  },
  {
    Nombre: "Tonatiuh",
    Descripcion: "Mirador",
    imagen: "/Atracciones/Tonatiuh.jpg",
  },
  {
    Nombre: "Coyolxauhqui",
    Descripcion: "Rueda de la fortuna",
    imagen: "/Atracciones/Coyolxauhqui.jpg",
  },
];
const Mayas = [
  {
    Nombre: "Itzamna",
    Descripcion: "Torre de sillas",
    imagen: "/Atracciones/Itzamna.jpg",
  },
  {
    Nombre: "Cháak",
    Descripcion: "Recorrido para refrescarte",
    imagen: "/Atracciones/Cháak.jpg",
  },
  {
    Nombre: "Kauil",
    Descripcion: "Montaña rusa con temática de fuego",
    imagen: "/Atracciones/Kauil.jpg",
  },
  {
    Nombre: "Buluc Chabtan",
    Descripcion: "Carritos Chocones",
    imagen: "/Atracciones/Buluc_Chabtan.jpg",
  },
];
const Mexicas = [
  {
    Nombre: "Huitzilopochtli",
    Descripcion: "montaña rusa rápida",
    imagen: "/Atracciones/Huitzilopochtli.jpg",
  },
  {
    Nombre: "Xipe totec",
    Descripcion: "",
    imagen: "/Atracciones/Xipe_Totec.jpg",
  },
  {
    Nombre: "Coatlicue",
    Descripcion: "Canoa forma de madre",
    imagen: "/Atracciones/Coatlicue.jpg",
  },
  {
    Nombre: "Huehuecóyotl",
    Descripcion: "tipo tasas musicales",
    imagen: "/Atracciones/Huehuecóyotl.jpg",
  },
];
const Tolteca = [
  {
    Nombre: "Quetzalcoatl",
    Descripcion: "Montaña tusarusa",
    imagen: "/Atracciones/Quetzalcoatl.jpg",
  },
  {
    Nombre: "Itztlacoliuhqui",
    Descripcion: "Recorrido por una ciudad fria",
    imagen: "/Atracciones/Itztlacoliuhqui.jpg",
  },
];
const Nahualt = [
  {
    Nombre: "Tláloc",
    Descripcion: "Rio con cascada",
    imagen: "/Atracciones/Tlaloc.jpg",
  },
];
const Otros = [
  {
    Nombre: "Tren",
    Descripcion: "Tren para recorrido",
    imagen: "/Atracciones/Tren.jpg",
  },
  {
    Nombre: "Escenario",
    Descripcion: "Escenario para eventos varios",
    imagen: "/Atracciones/Escenario.jpg",
  }, {
    Nombre: "Museo",
    Descripcion: "Museo sobre la cultura ",
    imagen: "/Atracciones/Museo.jpg",
  },
  {
    Nombre: "Juego de pelota",
    Descripcion: "Representacion del juego de pelota ",
    imagen: "/Atracciones/Juego.jpg",
  },
];
---

<Layout title="Hunab Ku-Vive la aventura en cada giro">
  <h1
    class="dark:text-white text-center text-3xl md:text-4xl lg:text-5xl font-bold pb-6 pt-44 px-28 lg:pb-10"
  >
    Atracciones
  </h1>
  <h2 class="text-2xl text-center px-28 text-black dark:text-white">Aztecas</h2>
  <SectionContainer class="pb-10 md:px-44 grid justify-items-center">
    {Aztecas.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-2xl text-center px-28 text-black dark:text-white">Mayas</h2>
  <SectionContainer class="pb-10 md:px-44 grid justify-items-center">
    {Mayas.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-2xl text-center px-28 text-black dark:text-white">Mexicas</h2>
  <SectionContainer class="pb-10 md:px-44 grid justify-items-center">
    {Mexicas.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-2xl text-center px-28 text-black dark:text-white">Tolteca</h2>
  <SectionContainer class="pb-10 md:px-44 grid justify-items-center">
    {Tolteca.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-2xl text-center px-28 text-black dark:text-white">Nahualt</h2>
  <SectionContainer class="pb-10 md:px-44 grid justify-items-center">
    {Nahualt.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-2xl text-center px-28 text-black dark:text-white">Otras Atracciones</h2>
  <SectionContainer class="pb-10 md:px-44 grid justify-items-center">
    {Otros.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
</Layout>
