---
import Atraccion from "../components/Atraccion.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";

const Aztecas = [
  {
    Nombre: "Mictlantecuhtli(Dios de la muerte)",
    Descripcion: "Recorrido por el infierno",
    imagen: "/Atracciones/Mictlantecuhtli.jpg",
  },
  {
    Nombre: "Tonatiuh(Dios del sol)",
    Descripcion: "Mirador",
    imagen: "/Atracciones/Tonatiuh.jpg",
  },
  {
    Nombre: "Coyolxauhqui(Diosa de la luna)",
    Descripcion: "Rueda de la fortuna",
    imagen: "/Atracciones/Coyolxauhqui.jpg",
  },
  {
    Nombre: "Huitzilopochtli(Dios de la guerra)",
    Descripcion: "montaña rusa rápida",
    imagen: "/Atracciones/Huitzilopochtli.jpg",
  },
  {
    Nombre: "Xipe totec(Dios Murcielago)",
    Descripcion: "Tirolesa",
    imagen: "/Atracciones/Xipe_Totec.jpg",
  },
  {
    Nombre: "Coatlicue(Diosa de la fertilidad)",
    Descripcion: "Canoa forma de madre",
    imagen: "/Atracciones/Coatlicue.jpg",
  },
  {
    Nombre: "Huehuecóyotl(Dios de la musica)",
    Descripcion: "Tambores musicales",
    imagen: "/Atracciones/Huehuecóyotl.jpg",
  },
  {
    Nombre: "Quetzalcoatl(Serpiente Emplumada)",
    Descripcion: "Montaña rusa",
    imagen: "/Atracciones/Quetzalcoatl.jpg",
  },
  {
    Nombre: "Itztlacoliuhqui(Dios de las heladas y frios)",
    Descripcion: "Recorrido por una ciudad fria",
    imagen: "/Atracciones/Itztlacoliuhqui.jpg",
  },
  {
    Nombre: "Tláloc(Dios de la lluvia)",
    Descripcion: "Rio con cascada",
    imagen: "/Atracciones/Tlaloc.jpg",
  },
];
const Mayas = [
  {
    Nombre: "Itzamna",
    Descripcion: "Torre de sillas",
    imagen: "/Atracciones/Itzamna.jpg",
  },
  {
    Nombre: "Cháak",
    Descripcion: "Recorrido para refrescarte",
    imagen: "/Atracciones/Cháak.jpg",
  },
  {
    Nombre: "Kauil",
    Descripcion: "Montaña rusa con temática de fuego",
    imagen: "/Atracciones/Kauil.jpg",
  },
  {
    Nombre: "Buluc Chabtan",
    Descripcion: "Carritos Chocones",
    imagen: "/Atracciones/Buluc_Chabtan.jpg",
  },
];
const Otros = [
  {
    Nombre: "Tren",
    Descripcion: "Tren para recorrido del parque",
    imagen: "/Atracciones/Tren.jpg",
  },
  {
    Nombre: "Escenario",
    Descripcion: "Escenario para eventos varios",
    imagen: "/Atracciones/Escenario.jpg",
  },
  {
    Nombre: "Museo",
    Descripcion: "Museo sobre la cultura ",
    imagen: "/Atracciones/Museo.jpg",
  },
  {
    Nombre: "Juego de pelota",
    Descripcion: "Representacion del juego de pelota ",
    imagen: "/Atracciones/Juego.jpg",
  },
];
---

<Layout title="Hunab Ku-Vive la aventura en cada giro">
  <h1
    class="dark:text-white text-center text-5xl md:text-6xl font-bold pb-6 pt-44 md:px-28 lg:pb-10"
  >
    Atracciones
  </h1>
  <h2 class="text-4xl text-center font-semibold px-28 text-[#9d45b3] pb-6">
    Aztecas
  </h2>
  <SectionContainer
    class="pb-10 md:px-44 grid md:grid-cols-3 justify-items-center"
  >
    {Aztecas.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-4xl text-center font-semibold px-28 text-[#9d45b3] pb-6">Mayas</h2>
  <SectionContainer
    class="pb-10 md:px-44 grid md:grid-cols-3 justify-items-center"
  >
    {Mayas.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
  <h2 class="text-4xl text-center font-semibold px-28 text-[#9d45b3] pb-6">
    Otras Atracciones
  </h2>
  <SectionContainer
    class="pb-10 md:px-44 grid md:grid-cols-3 justify-items-center"
  >
    {Otros.map((atraccion) => <Atraccion {...atraccion} />)}
  </SectionContainer>
</Layout>
