---
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hunab Kub-Vive la aventura en cada giro">
	<SectionContainer class="py-44 px-28">
	<div>
		<h2>
			Informacion
		</h>
	</div>
</SectionContainer>
</Layout>

