---
interface Props{
    Nombre: string;
    Descripcion: string;
    imagen: string;
}
const { Nombre, Descripcion, imagen } = Astro.props;
---

<div
  class="md:max-w-sm md:mx-8 my-8 md:my-4 bg-white rounded-lg shadow dark:bg-gray-800"
>
<img src={imagen} alt="" class="size-auto rounded-t-lg" />
<h3
  class="text-2xl font-bold tracking-tight text-justify text-black dark:text-yellow-200/90"
>
  {Nombre}
</h3>
  <span class="font-normal text-balance  text-black dark:text-white"
    >{Descripcion}</span
  >
</div>
