---
import Facebook from "./logos/Facebook.astro";
import Instagram from "./logos/Instagram.astro";
import Tiktok from "./logos/Tiktok.astro";
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center">
    <span class="text-sm text-center text-yellow-800/90 dark:text-yellow-200/90"
      >&copy; 2024 Hunab Ku - <a href="https://porfolio-ulisesruiz.vercel.app/"
        >Supertepo</a
      >
    </span>
    <a href="https://www.instagram.com/parque_hunabku_oficial?igsh=MW94NmhqNXZ3dGh5eA=="><Instagram class="size-8 items-end" /></a>
    <a href="https://www.tiktok.com/@parque_hunabku?_t=8mgX2kgkpiY&_r=1"><Tiktok class="size-8" /></a>
    <a href="https://www.facebook.com/profile.php?id=61559607282589&mibextid=rS40aB7S9Ucbxw6v"><Facebook /></a>
  </div>
</footer>
