---

---

<nav class="bg-black/5 dark:bg-black/30 fixed w-full z-10">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-4 py-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/Logo.svg" class="h-16">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a type="button" href="/Souvenirs" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-lg px-1 md:px-4 py-2 text-center">Souvenirs y Snacks<a/>
        <a type="button" href="/Boletos" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-lg px-1 md:px-4 py-2 text-center dark:bg-[#b39d45] dark:hover:bg-[#8e7d37] dark:focus:ring-blue-800">Compra aqui<a/>
    </div>
    </div>
  </nav>
  