---
interface Props {
  Nombre: string;
  Precio: string;
}

const { Nombre, Precio } = Astro.props;
---

<tr>
  <td class="border-2 p-4 border-violet-500">
    {Nombre}
  </td>
  <td class="border-2 p-2 border-violet-500">
    {Precio}
  </td>
</tr>
